@import url(./root.css);
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

.my-container{
    max-width: 1280px;
}
 
/* button */
.nav-get-btn{
    border-radius: 5px;
box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
padding: 9px 21px;
transition: .4s;
}
.nav-get-btn:hover{
    background-color: var(--black);
    box-shadow: 0px 10px 40px -12px rgba(30, 30, 30, 0.35);
}
.btn-get{
        padding: 12px 21px;
        border-radius: 5px;
        border: none;
        transition: .4s;
        max-width: 181px;
        box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);

}
.btn-get:hover{
       background-color: var(--black);
       box-shadow: 0px 10px 40px -12px rgba(30, 30, 30, 0.35);
}
.btn-read {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    transition: .4s;
    box-shadow: 0px 10px 40px -12px rgba(30, 30, 30, 0.35);
}
.btn-read:hover{
    background-color: var( --yellow10);
    box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
}


/* latter spacing */

.ls_88{
    letter-spacing: 0.88px;
}
.ls_36{
    letter-spacing: 0.36px;
}
.ls_34{
    letter-spacing: 0.34px;
}
.ls_9{
    letter-spacing: 0.9px;
}
.ls_3{
    letter-spacing: 3.12px;
}
.ls_1{
    letter-spacing: 1.5px;
}

/* line hight */

.lh_13{
    line-height: 133.4%;
}
.lh_17{
    line-height: 176%;
}

/* line */

.cases-line::after {  
    display: flex;
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  bottom: 8px;
  height: 6px;
  width: 100%;
  background: var(--yellow10);
}
.footer-line::after {  
    display: flex;
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  bottom: 4px;
  height: 4px;
  width: 100%;
  transition: .5s;
  background: var(--yellow4f);
}
.nav-line::after {  
    display: flex;
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  bottom: 4px;
  height: 4px;
  width: 100%;
  transition: .5s;
  background: var(--yellow4f);
}
.after-line-button {
    padding: 12px 15px 11px 14px;
    background-color: var(--color-white);
    border: 2px solid var(--light-white);
    border-radius: 5px;
    transition: all 0.3s linear;
}

.after-line-button::after {
    content: '';    
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: var(--light-white);
    stroke-width: 2px;
    border-radius: 100%;
    left: -48px;
    top: 13px;
    z-index: 1;
    transition: all 0.3s linear;
}

.after-line-button::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: var(--light-white);
    stroke-width: 2px;
    left: -30px;
    top: 21px;
    z-index: 1;
    transition: all 0.3s linear;
}
.input-search{
    border:unset;
    outline: unset;
    max-width: 200px;
    border-bottom: 2px solid var(--greyA5);
}
.position-searchbar{
    position: absolute;
    top: 12px;
    right: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.after-line-button:hover {
    background-color: var(--yellow10);
    color: var(--color-white);
    border: 2px solid var(--yellow10);
}
.after-line-button:hover.after-line-button::before {
    background-color: var(--yellow10);
}
.after-line-button:hover.after-line-button::after {
    background-color: var(--yellow10);
}
/* .footer-line:hover:after {  
    width: 47px;
    left: 0;
} */
.card-line {  
  height: 1px;
  max-width: 519px;
  background: #E7E7E7;
}

.heading-line::after {
    content: '';
    display: flex;
    width: 97%;
    height: 6px;
    flex-shrink: 0;
    background-color: var(--yellow4f);
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: -1;
}

/* card */

.cases-card{
    border-radius: 15px;
border: 1px solid rgba(250, 202, 16, 0.40);
background: #FFF;
box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.09);
padding: 10px;

}

footer div ul li a > svg path{
 transition: all 200ms linear;
}
footer div ul li a:hover > svg path{
 fill: var(--yellow10) ;
}

/* nav-section */


ul {
    padding-left: unset !important;
}

.cross-1 {
    rotate: 45deg;
    transition: .4s;
}

.cross-2 {
    position: relative;
    transition: .4s;
    top: -80%;
    rotate: -45deg;
}
.cross-3 {
    display: none !important;
}

.cross-4 {
    transition: .4s;
}
.cross-5 {
    transition: .4s;
}
.cross-6 {
    transition: .4s;
}

.flow-hidden {
    overflow: hidden;
}  

/* slider */
.mw-864{
    max-width: 864px;
}

.z_1 {
    z-index: -1;
}
.main {
    font-family: Arial;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.slick-dots {
    position: absolute;
    bottom: -43px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li button:before {
    font-family: "slick";
    font-size: 18px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: "" !important;
    text-align: center;
    opacity: 0.25;
    background-color: var(--yellow4F) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    background-color: var(--yellow) !important;
}

.groupImg {
    right: 23%;
    bottom: -5%;
}

.slick-slider1 {
    width: 100%;
    background-color: transparent;

    .slick-track {
        display: flex;
        align-items: center;
        /* height: 100%; */
        justify-content: center;
    }
}

.slick-slider1 .slick-slide.slick-current,
.slick-slider1 .slick-slide.slick-center {
    transform: scale(0.9);
    width: 100%;
    max-width: 280px !important;
    /* height: 270px; */
    align-items: center;
    opacity: 1;
}

.slick-slider1 .slick-slide,
.slick-slider1 .slick-slide {
    opacity: 0.6;
    transform: scale(0.5);
    transition: .4s;
}

.slick-slider1 .slick-slide.slick-current img,
img {
    display: block !important;
}

.slick-dots {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.slick-next {
    right: 0;
}
.slick-slider1 .slick-slide.slick-current,
.slick-slider1 .slick-slide.slick-center {
    transform: scale(0.8);
    width: 100%;
    max-width: 280px !important;
    height: 270px;
    align-items: center;
    opacity: 1;

}

.slick-slider1 .slick-slide,
.slick-slider1 .slick-slide {
    transform: scale(0.5);
}

/* slick-slide slick-center  */
.slick-slider1 .slick-slide,
.slick-slider1 .slick-slide div:has(+ .slick-center) {
    opacity: 0.6;
    transform: scale(0.3);
}

.slick-slider1 .slick-slide:has(+ .slick-center),
.slick-slider1 .slick-center+.slick-slide {
    transform: scale(0.5);
}


@media (min-width:992px) {
    .groupImg {
        right: 8%;
        bottom: 12%;
    }
}

@media (max-width:992px) {
    label[id="menuIcon"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 2%;
        top: 12%;
        justify-content: space-between;
        flex-direction: column;
        z-index: 5;
        align-items: center;
    }

    label[id="menuIcon"]>span {
        width: 100%;
        height: 5px;
        background: black;
    }

    .nav-box {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        position: fixed;
        opacity: 1;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background: var(--light-white);
        z-index: 3;
        box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);
        transition: all 500ms linear;
    }

    .fix-lft {
        left: 0;
    }
}

